<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Yelp Business.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F150C10720AA5C1000D981F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F150C11B20AA5C1100D981F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F150C12620AA5C1100D981F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
